page-main {
    .mainbutton1 {
        height: 33%;
        font-size: 30px;
        border-radius: 20px;
        // background-image: linear-gradient(rgb(238, 130, 202), rgb(0, 0, 255));
    }
    .mainbutton2 {
        height: 33%;
        font-size: 30px;
        border-radius: 20px;
        // background-image: linear-gradient(rgb(0, 0, 255), green);
    }
    .mainbutton3 {
        height: 33%;
        font-size: 30px;
        border-radius: 20px;
        // background-image: linear-gradient(green, rgb(255, 94, 0));
    }
}
